.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.Carrinho {
  width: 400px;
  position: absolute;
  top: 192px;
  left: 1000px;
}

.ProdutoSorteado{
  position: absolute;
  top: 192px;
  left: 30px;
}

.ListaProdutosSorteados{
  position: absolute;
  top: 192px;
  left: 490px;
}

.Botao{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 100px;
}


.App-header {
  width: 2000px;
  background-color: #282c34;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
